#promo-0-title {
  font-size: 32px;
}

div.text-container {
  a {
    text-decoration: none;
    color: rgb(25, 118, 210)
  }
  a:hover {
    text-decoration: underline;
  }
}

.word-per-line {
  word-spacing: 100vw;
}

word-per-line::first-letter {
  color: red;
  font-weight: bold;
}

ul {
  padding-left: 12px;
}
