<!-- FULL HEADER BLOCK -->
<header>
  <!-- BACKGROUND IMAGE -->
  <div class="background-sky hero"></div>
  <!-- INTRO SECTION -->
  <section id="intro">
    <!-- LOGO -->
    <div class="hero-logo"></div>
    <!-- CONTAINER -->
    <div class="homepage-container">
      <h1 class="hero-headline no-title no-toc no-anchor word-per-line" aria-label="GPT without the woke">
        <strong>M</strong>ass <strong>O</strong>pen <strong>S</strong>ource <strong>E</strong>ye <strong>S</strong>creening
      </h1>

      <div class="cta-button-container">
        <p class="cta-link">
          <a class="button hero-cta no-print" routerLink="doc/demo-deploy">LLM demo</a>
        </p>
      </div>

    </div>
  </section>
</header>
<!-- MAIN CONTENT -->
<article>
  <div class="home-rows">
    <div layout="column" layout-xs="column" class="home-row homepage-container">
      <!-- Group 1 -->
      <div>
        <section aria-labelledby="promo-0-title" class="text-block">
          <h2 id="promo-0-title" class="no-anchor">Mass screening for blinding eye diseases.</h2>
        </section>
      </div>
    </div>
    <div layout="row" layout-xs="column" class="home-row homepage-container">
      <!-- Group 1 -->
      <div class="text-container">
        <section aria-labelledby="promo-1-title" class="text-block">
          <h2 id="promo-1-title" class="text-headline no-anchor">Medical devices</h2>
          <img alt="Bias" src="../../assets/images/docs/ophthalmoscope.svg" width="276">
          <p class="text-body">Novel AI interfaceable devices:</p>
          <ul>
            <li>Smartphone opthalmoscopes</li>
            <li>Smartphone microscopes</li>
            <li>Smartphone anterior segment analysers</li>
            <li>Smartphone gonioscopes</li>
            <li>Smartphone pupillometry</li>
          </ul>
          <p class="text-body"><a routerLink="doc/more">Specialise</a></p>
        </section>
      </div>
      <!-- Group 2 -->
      <div class="text-container">
        <section aria-labelledby="promo-2-title" class="text-block promo-2-desc">
          <h2 id="promo-2-title" class="text-headline no-anchor">Open licensed</h2>
          <img alt="Hero image" src="../../assets/images/docs/copyright-license.svg" width="276">
          <p class="text-body">Open-source without usage restrictions. Use all our tech for charitable, commercial, or other purposes.
          </p>
          <p class="text-body">NOTE: Our only purpose is charitable. We charge for neither hardware nor software.</p>
          <p class="text-body"><a routerLink="doc/more">Us vs them</a></p>
        </section>
      </div>
      <!-- Group 3 -->
      <div class="text-container">
        <section aria-labelledby="promo-3-title" class="text-block l-pad-top-2">
          <h2 id="promo-3-title" class="text-headline no-anchor">Software</h2>
          <img alt="Hero image" src="../../assets/images/docs/scale.svg" width="276">
          <p class="text-body">Technology that runs on your smartphone and/or in multiple clouds:</p>
          <ul>
            <li>Automated diagnosis from fundus images</li>
            <li>Chatbots&mdash;fine-tuned LLMs&mdash;to [&hellip;]</li>
            <li>Collect data from patients (nationwide or cross-country)</li>
          </ul>
          <p class="text-body"><a routerLink="doc/demo-deploy">Teleprompter demo (use earpiece)</a></p>
        </section>
      </div>
    </div>

    <p style="text-align: center"><a class="button hero-cta no-print" routerLink="doc/more">Learn more</a></p>
  </div>
</article>
